html{
    font-size:12px;
}

body{
    --spatiere-pagina:10px;
}

#grid-pagina{
    display: block;

}

#grid-pagina > *{
    margin-bottom: 15px;
    border:none;
}

table{
    border-spacing: 0;
}
