<footer>
    <div id="contact">
        <h2>Contact</h2>
        <address>
            Strada Academiei, nr. 14, Bucuresti
            <a href="https://goo.gl/maps/i7NoVKE38LP7yaPB6">
                Vezi pe harta
            </a> <br />
            contact@parfumatic.ro
            <a href="mailto:contact@parfumatic.ro"> Trimite un mail </a> <br />
            0732899210
            <a href="tel:0732899210"> <img src="/resurse/ico/phone-solid.svg" alt="Telefon" /> </a> sau mesaj la <a href=https://wa.me/0732899210> link</a>
            Aveti o plangere? Asteptam <a href="/resurse/pdf/plangere.pdf" download>formularul</a> dumneavoastră completat, la adresa noastra de email. <br />
        </address>
    </div>
    <div id="link-top" class="helper">
        <a href="#" title="Sus"><div class="triunghi"></div></a>
    </div>
    <br />
    <small>
        Copyright &copy; <time datetime="2023-03-04"> 4 martie 2023 </time>
    </small>
    <p id="banner"><b>Acesta este un proiect scolar</b></p>
</footer>