<script src = "/resurse/js/tema.js"> </script>
<header>
    <img src="resurse/ico/spray.svg" alt="My Happy SVG" />
    <h1> &nbsp &nbspParfumatic &nbsp; </h1>
    
      <button class="btn btn-secondary" id = "tema">Dark/light mode <i class="fas fa-sun"></i> / <i class="fas fa-moon"></i></button>
      

</header>
<nav>
    <p id="watermark"></p>
    <label id="hamburger" for="ch-menu">
        <img src="/resurse/imagini/hamburger.svg" alt="menu">
    </label>
    <input id="ch-menu" type="checkbox">
    <ul class="meniu">
        <li>
            <div id="acasa"> <a href="#prezentare"> Acasa </a> </div>
            <div id="casuta"><span class="fas fa-regular fa-house"></span></div>
            <ul>
                <li> <a href="#prezentare">Bine ati venit </a> </li>
                <li> <a href="#program">  Program  </a> </li>
            </ul>
        </li>
        <li>
            <div>Produse</div>
            <ul>
                <li><a href = "/produse">Toate</a></li>
                <li><a href = "/produse?tip=cofetarie">Prajituri</a></li>
                <li><a href = "/produse?tip=inghetata">Inghetata</a></li>
                <li><a href="#parf-feminine">Parfumuri feminine</a></li>
                <li><a href="#parf-masculine">Parfumuri masculine</a></li>
                <li><a href="#parf-unisex">Parfumuri unisex</a></li>
            </ul>
        </li>
        <li>
                <% if(locals?.utilizator?.areDreptul?.(Drepturi.vizualizareUtilizatori)) { %>
                    <li><div>Administrare</div>
                        <ul>
                            <li><a href="/useri">Useri</a></li>
                            <li><a href="/grafice">Grafice</a></li>
                            <li><a href="/comenzi">Comenzi</a></li>
                        </ul>
                    </li>
                <% } %>
                <% if(locals.utilizator) { %>
                    <li><div><%- locals.utilizator.username %></div>
                        <ul>
                            <li><a href="/profil">Profil</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </li>
                <% } %>
            <div>Despre</div>
            <ul>
                <li><a href="#prezentare">Prezentare</a></li>
                <li><a href="#galerie">Galerie</a></li>
            </ul>
        </li>
        <li>
            <a href="#contact"> Contact </a>
        </li>
    </ul>
</nav>

<script>
    const modeRadios = document.querySelectorAll('input[name="mode"]');
    
    modeRadios.forEach(radio => {
      radio.addEventListener('change', event => {
        const selectedMode = event.target.value;
        document.documentElement.setAttribute('data-mode', selectedMode);
      });
    });
</script>