<header>
    <img src="resurse/ico/spray.svg" alt="My Happy SVG" />
    <h1> &nbsp &nbspParfumatic &nbsp; </h1>
</header>
<nav>
    <p id="watermark"></p>
    <label id="hamburger" for="ch-menu">
        <img src="/resurse/imagini/hamburger.svg" alt="menu">
    </label>
    <input id="ch-menu" type="checkbox">
    <ul class="meniu">
        <li>
            <div id="acasa"> <a href="#prezentare"> Acasa </a> </div>
            <div id="casuta"><span class="fas fa-regular fa-house"></span></div>
            <ul>
                <li> <a href="#prezentare">Bine ati venit </a> </li>
                <li> <a href="#program">  Program  </a> </li>
            </ul>
        </li>
        <li>
            <div>Produse</div>
            <ul>
                <li><a href="#parf-feminine">Parfumuri feminine</a></li>
                <li><a href="#parf-masculine">Parfumuri masculine</a></li>
                <li><a href="#parf-unisex">Parfumuri unisex</a></li>
            </ul>
        </li>
        <li>
            <div>Despre</div>
            <ul>
                <li><a href="#prezentare">Prezentare</a></li>
                <li><a href="#galerie">Galerie</a></li>
            </ul>
        </li>
        <li>
            <a href="#contact"> Contact </a>
        </li>
    </ul>
</nav>